@import "tailwindcss";

 
:root {
  --bg: #ededed;
  --bg2: #e4e4e4;
  --fg: #0a0a0a;
  --fg2: #0f0f0f;
  --prim: #009be2;
  --primd: #0086c4;
  --priml: #00aeff;
  --sec: #f6ee1c;
} 
@theme {
  --color-prim: var(--prim);
  --color-primd: var(--primd);
  --color-priml: var(--priml);
  --color-sec: var(--sec);
  --color-bg: var(--bg);
  --color-bg2: var(--bg2);
  --color-fg: var(--fg);
  --color-fg2: var(--fg2);
}

@custom-variant hover (&:hover);

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --bg2: #141414;
    --fg: #ededed;
    --fg2: #e4e4e4;
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

  .font-outline-2 {
    -webkit-text-stroke: 2px var(--prim);
  }

.striped-background {
    background: repeating-linear-gradient(
  45deg,
  var(--bg),
  var(--bg) 16px,
  var(--bg2) 15px,
  var(--bg2) 30px
);
  }

.container {
  @media (width >= 112rem) { max-width: 112rem; }
  @media (width >= 128rem) { max-width: 128rem; }
}


.project-swiper .swiper-wrapper {
  align-items: center; /* add this will all relevant prefixes */
}

.swiper-pagination {
  background-color: #0a0a0a99;
  width: 20% !important;
  border-radius: 100rem;
  margin: 0 40%;
}

.swiper-pagination-bullet {
  background-color: var(--fg) !important
}